{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<center>
<h1><a href="/">Home</a> || <a href="{% url 'signup' %}">Sign up</a> || <a href="{% url 'login' %}">Login</a> ||  <a href="{% url 'login1' %}">Login1</a>
</h1 >

<h1>Tops Techonologies</h1>
<h2>Tops Techonologies</h2>
<h3>Tops Techonologies</h3>
<h4>Tops Techonologies</h4>
<h5>Tops Techonologies</h5>
<h6>Tops Techonologies</h6>

<font size="30px" color="red+black">
<b>This is bold tag</b>
</font>
<br>
<font size="30px" color="red+black">
<i>This is italic tag</i>
</font>
<br>
<font size="30px" color="red+black">
<u>This is underline tag</u>
</font>
<br><br>
<br>
<a href="http://www.instagram.com"><img src="{% static 'images/2.jpg' %}" height="80px" width="80px"></a>
</body>
</center>
</html>