'''
h1
		{
			color: red;
			background-color: deepskyblue ;
		}
		.a2
		{
			font-size: 20px;
			background-color: yellow;
			color: darkslateblue;
			margin-top: 50px;
			margin-bottom: 50px;
			margin-left: 50px;
			margin-right: 50px;
		}
		.a1
		{
			font-size: 20px;
			background-color: yellow;
			color: darkslateblue;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 50px;
			padding-right: 50px;
		}
		a:hover
		{
			font-size: 30px;
			background-color: deepskyblue;
			color: red;
		}
		img:hover
		{
			width: 500px;
			height: 500px;
		}
